<ion-view view-title="ゲーム">
  <ion-content class="padding">
    <h2>ゲーム</h2>
    <button class="button button-positive" ng-click="showPopup()">
      ゲーム１
    </button>
    <button class="button button-positive" ng-click="showPopup()">
      ゲーム２
    </button>
    <button class="button button-positive" ng-click="showPopup()">
      ゲーム３
    </button>
    <button class="button button-positive" ng-click="showPopup()">
      ゲーム４
    </button>
    <button class="button button-positive" ng-click="showPopup()">
      ゲーム５
    </button>
    <button class="button button-positive" ng-click="showPopup()">
      ゲーム６
    </button>
  </ion-content>
</ion-view>
